html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #333;
    background-color: #fefefe;
}

.header{
    background-color: #FED100;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.menu__btn{
    display: none;
}
.menu__list{
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.menu__list-link{
    transition: all .5s;
}
.menu__list-link:hover{
    border-bottom: 1px solid #333;
}
.menu__list-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #333;
}
.phone{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #333;
    border-bottom: 1px solid #333;
}

.top{
    background-color: #FED100;
}
.top__heading{
    position: relative;
}
.top__content{
    width: 50%;
    padding-top: 75px;
}
.top__title{
    font-size: 70px;
    font-weight: 700;
    line-height: 70px; 
}
.top__title--location{
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    
    padding: 10px 0 45px;
}
.order{
    position: relative;
}
.order__btn{
    font-size: 24px;
    color: #fefefe;
    background-color: #FF352B;
    width: 300px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding: 18px 10px; 
    transition: all .5s;
    border: 1px solid transparent; 
    z-index: 56;
}

.order__btn::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 60px;
    border: 2px solid #fefefe;
    top: 10px;
    left: 10px;
    z-index: -1;
}
.top__bottom{
    padding: 80px 0 90px;
    width: 550px;
}
.top__items{
    display: flex;
}
.top__item{
    display: flex;
    justify-content: space-between;
}
.top__item-text{
    padding-left: 10px;
}
.top__photo{
    position: absolute;
}
.top__photo--working{
    top: 18px;
    left: 600px;
    z-index: 5;
}
.top__photo--van{
    top: 105px;
    right: -100px;
    z-index: -1;
}
.phone__btn{
    position: absolute;
    bottom: 30px;
    right: 50px;
    transition: all .5s;
}
.phone__btn:hover{
    transform: scale(1.15);
}

.happen{
    background-color: #fefefe;
    padding-top: 95px;
}
.happen__title{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-bottom: 60px;
}
.happen__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.happen__item{
    width: 550px;
    padding: 0 0 50px 100px;
    position: relative;
}
.happen__item-num{
    position: absolute;
    top: 11px;
    left: 0;
    font-size: 50px;
    text-shadow: 1px 0px #FED100;
}

.happen__item-title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}
.happen__item-text{
    font-size: 16px;
    line-height: 18px;
    max-width: 400px;
}

.prise__title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}
.prise__title-text{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    padding: 15px 0 60px;
}
.prise__inner{
    display: flex;
    justify-content: space-between;
}
