html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #333;
    background-color: #fefefe;
}

.header{
    background-color: #FED100;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.menu__btn{
    display: none;
}
.menu__list{
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.menu__list-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #333;
    transition: all .5s;
}
.menu__list-link:hover{
    border-bottom: 1px solid #333;
}
.phone{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #333;
    border-bottom: 1px solid #333;
}

.top{
    background-color: #FED100;
    margin-top: -1px;
}
.top__heading{
    position: relative;
}
.top__content{
    width: 50%;
    padding-top: 75px;
}
.top__title{
    font-size: 70px;
    font-weight: 700;
    line-height: 70px; 
}
.top__title--location{
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    padding: 10px 0 45px;
}
.top__order{
    position: relative;
    z-index: 56;
}
.order__btn{
    font-size: 24px;
    color: #fefefe;
    background-color: #FF352B;
    width: 300px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding: 18px 10px; 
    transition: all .5s;
    border: 1px solid transparent; 
    transition: background-color 0.5s ease;
}
.order__btn:hover, 
.order__btn:focus {
    background-color: #fa736c;
}
.order__btn::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 60px;
    border: 2px solid #fefefe;
    top: 10px;
    left: 10px;
    z-index: -1;
}
.top__items{
    display: flex;
    padding: 80px 0 90px;
    width: 50%;
}
.top__item{
    display: flex;
}
.top__item-text{
    padding-left: 10px;
}
.top__photo{
    position: absolute;
}
.top__photo--working{
    top: 18px;
    left: 600px;
    z-index: 5;
}
.top__photo--van{
    top: 105px;
    left: 56vw;
    z-index: 1;
}
.phone__btn{
    position: absolute;
    bottom: 30px;
    right: 50px;
    transition: all .5s;
}
.phone__btn:hover{
    transform: scale(1.15);
}

.happen{
    background-color: #fefefe;
    padding-top: 100px;
}
.truck__title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
}
.happen__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 35px;
}
.happen__item{
    width: 50%;
    padding: 0 0 50px 100px;
    position: relative;
}
.happen__item-num{
    position: absolute;
    top: 11px;
    left: 0;
    font-size: 50px;
    text-shadow: 1px 0px #FED100;
}

.happen__item-title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}
.happen__item-text{
    max-width: 400px;
}

.prise{
    padding: 50px 0;
}
.truck__title-text{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    padding: 0 0 60px;
}
.prise__content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.prise__item{
    border: 1px solid #333;
    width: 410px;
    height: 580px;
    transition: 0.5s ease;
}
.prise__item:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid #FED100;
    transform: scale(1.05);
}
.prise__item-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding: 80px 0 60px;
}
.prise__list-item{
    list-style: none;
    line-height: 50px;
}
.prise__sum{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding: 30px 0 40px;
}
.prise__btn{
    background-color: #FED100;
    color: #333;
    display: flex;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;

    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease;

}
.prise__btn:hover, 
.prise__btn:focus {
    background-color: #ffe15b;
}

.carPark{
    padding: 50px 0;
}
.carPark-btn{
    text-align: center;
    padding-bottom: 45px;
}
.carPark-btn-item{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    padding: 13px;
    margin: 0 10px;
    color: #333;
    border: 1px solid #333;
    background-color: #fefefe;
    transition: border 0.2s ease;
    outline: none;
}
.carPark-btn-item:hover, 
.carPark-btn-item:focus {
    border: 1px solid #FED100;
}

.truck__slider-content{ 
    width: 50%;
    padding:  50px 100px;
}
.truck__slider-img{
    width: 50%;
    margin-right: 150px;
}
.truck__slider-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding-bottom: 35px;
}
.slider__btn{
    margin: 20px 0;
}
.slider__list-item{
    padding: 12px 0px;
    list-style: none;
}
.slick-arrow{
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
}
.slick-next{
    right: 20px;
} 
.adaptive__btn{
    display: none;
}
/* проверил */
.reviews{
    background-color: #FED100;
    padding-bottom: 100px;
}
.reviews__title{
    padding: 100px 0 60px;
}
.reviews__content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.reviws__item-author{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding-bottom: 10px;
}
.reviws__item-data{
    padding-bottom: 15px;
}
.reviws__item-text{
    max-width: 420px;
    padding-bottom: 15px;
}
.reviws__items-link{
    color: #333;
    border-bottom: 1px solid #333;
}

.reviews__btn{
    color: #333;
    display: flex;
    margin: 0 auto;
    border: 1px solid #333;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.reviews__btn:hover, 
.reviews__btn:focus {
    background-color: #e6bb00;
}

.feedback{
    padding: 100px 0 60px;
}
.feedback__form{
    padding: 40px 100px;
}
.feedback__title{
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.feedback__text{
    padding-bottom: 45px;
}
.feedback__container{
    display: flex;
    justify-content: space-between;
}
.feedback__input{
    width: 300px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.7);
    
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color:  rgba(51, 51, 51, 0.7);
}
.feedback__btm{
    font-size: 24px;
    color: #fefefe;
    background-color: #FF352B;
    width: 300px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding: 18px 10px;
    transition: all .5s;
    border: 1px solid transparent; 
    transition: background-color 0.5s ease;

    position: relative;
}
.feedback__btm:hover, 
.feedback__btm:focus {
    background-color: #fa736c;
}
.feedback__btm::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 60px;
    border: 2px solid #FED100;
    top: 10px;
    left: 10px;
    z-index: -1;
}
.feedback__checkbox{
    text-align: end;
    padding-top: 20px;
    margin-right: 120px; 
}

.position{
    position: relative;
}
.position__container{
    width: 370px;
    height: 325px;
    padding: 40px;
    position: absolute;
    background-color: #fefefe;
    z-index: 333;
    padding: 40px;
    top: 150px;
    left: 25vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.position__list{
    list-style: none; 
}
.position__item-link{
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    color: #333;
    padding-left: 25px;
}
.position__item-link::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 14px;
    height: 14px;
    background-image: url(../images/checkIcon-yellow.svg);
}
.social{
    text-align: end;
}

.footer{
    padding: 100px 0;
    background-color: #FED100;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__agreement{
    display: flex;
    flex-direction: column;
    max-width: 240px;
}
.agreement__link{
    padding-top: 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #333;
}
.footer__menu-item{
    padding-bottom: 10px;
}
.footer__menu-link{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #333;
    padding-bottom: 10px;
}
.footer__social-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.footer__social-email, .footer__feedback-phone{
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    color: #333;
    border-bottom: 1px solid #333;
}
.footer__feedback{
    text-align: center;
}
.footer__feedback-btn{
    color: #333;
    display: flex;
    margin: 0 auto;
    border: 1px solid #333;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.footer__feedback-btn:hover, 
.footer__feedback-btn:focus {
    background-color: #e6bb00;
}

/* АДАПТИВ */
@media (min-width: 1600px){
    .top__photo--van{
        left: 70%;
    }
}
@media (max-width: 1320px){
    .prise__item{
        width: 30%;
    }
}
@media (max-width: 1200px){
    .top__photo--van, .phone__btn{
        display: none;
    }
    .top__photo--working {
        left: 57vw;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        list-style: none;
        text-align: center;
    }
    .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: #333;
        border: none;
        border-radius: 50%;
        padding: 0;
        z-index: 5;
    }
    .slick-dots button:hover{
        /* width: 15px;
        height: 15px;
        background-color: transparent;  */
        border: 1px solid #FED100;
        outline: none;
    } 
    .slick-dots li{
        padding-left: 10px;
    }
    .truck__slider-content{
        padding: 50px 30px;
    }
}

@media (max-width: 940px){
    .top__heading{
        padding-bottom: 40px;
        text-align: center;
    }
    .top__bottom, .top__items{
        display: none;
    }
    .top__content{
        margin: 0 auto;
        text-align: center;
        width: auto;
        max-width: 550px;
    }
    .order__btn::after{
        display: none;
    }
    .top__title--location{
        padding: 10px 0;
    }
    .top__order{
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
    }
    .top__photo--working{
        position: relative;
        left: 0;
        right: 0;
    }
    .prise__item{
        min-width: 300px;
        margin: 50px 10px 0;
    }   
}

@media (max-width: 860px){
    .header__inner{
        padding: 40px  20px 0;
    }
    .phone, .menu__list, 
    .truck__title-text,
    .truck__slider-content{
        display: none;
    }
    .menu__btn{
        display: block;
        cursor: pointer;
        width: 40px;
        height: 24px;
        border: none;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        background-color: transparent;
        position: relative;
    }
    .menu__btn::before{
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: #333;
        left: 0;
        top: 9px;
    }
    .prise__item{
        margin: 25px auto;
        width: 420px;
    }
    .happen__inner{
        display: block;
    }
    .happen__item{
        width: 75%;
        margin: 0 auto;
    }
    .happen__item-text{
        max-width: 100%;
    }
    .happen{
        padding-top: 50px;
    }
    .carPark-btn{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
    .carPark,
    .prise{
        padding: 25px 0;
    }
    .carPark-btn-item{
        margin-bottom: 30px;
        border: none;
        font-size: 16px;
        font-weight: 400;
        width: auto;
        padding: 0;
    }
    .carPark-btn-item:hover,
    .carPark-btn-item:focus{
        border: none;
        border-bottom: 1px solid #FED100;
    }
    .slick-slide{
        flex-flow: wrap;
        text-align: center;
    }
    .truck__slider-content{
        order: 3;
        width: 100%;
        padding: 0;
    }
    .slick-slide img{
        width: 90vw;
        margin: 0 auto;
    }
    .truck__slider-img{
        width: 100%;
    }
    .slider__btn{
        margin: 0px auto;
    }

    .prise__btn{
        width: 300px;
        height: 60px;
    }
    .adaptive__btn{
        display: flex;
        margin-top: 20px;
    }

}



@media (max-width: 510px){
    .logo__link{
        width: 75%;
        vertical-align: middle;
    }
    .top__content{
        padding-top: 25px;
    }
    .top__title{
        font-size: 38px;
        line-height: 48px;
    }
    .top__title--location{
        font-size: 24px;
    }
    .top__photo--working{
        width: 90vw;
    }
    .happen{
        padding-top: 40px;
    }
    .happen__item{
        padding: 0 0 25px 80px;
        height: 88px;
        width: 100%;
    }
    .happen__item-title{
        font-size: 16px;
    }
    .truck__title{
        font-size: 24px;
    }
    .happen__item-text{
        display: none;
    }
    .prise__item{
        margin: 25px auto;
        border: none;
        width: auto;
        height: auto;
    }
    .prise__item:hover {
        box-shadow: none;
        border: none;
        background-color: #F8FBFF;
        transform: scale(1.05)
    }
    .prise__item-title{
        padding: 20px 0;
    }
}